# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# Downloads
downloads/

# Chroma Vector Database
vector_db/

# Streamlit Cache
.streamlit/

# OS Files
.DS_Store
Thumbs.db